<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#3598DC">
  <title>{{ title }}</title>

  <!-- Performance hints -->
  <link rel="preconnect" href="https://cdn.jsdelivr.net">

  <!-- Core styles -->
  <link rel="stylesheet" href="/src/scss/app.scss" />
  {% block headExtra %}{% endblock %}
</head>
<body>
  <!-- Skip to content (accessibility) -->
  <a href="#error-content" class="bm-skip-link">Skip to main content</a>

  <main id="error-content">
  {% block content %}{% endblock %}
  </main>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css">

  
  <script src="/assets/js/theme.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
