  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css">

  <script src="/assets/js/i18n.js"></script>
  <script src="/assets/js/lang/en.js"></script>
  <script src="/assets/js/lang/tr.js"></script>
  <script src="/assets/js/lang/de.js"></script>
  <script src="/assets/js/lang/es.js"></script>
  <script src="/assets/js/lang/ru.js"></script>
  <script src="/assets/js/lang/ko.js"></script>
  <script src="/assets/js/theme.js"></script>
  <script src="/assets/js/sidebar.js"></script>
  <script src="/assets/js/app.js"></script>
  
